{% extends 'base.html' %}
{% block title %}Второе задание{% endblock title %}

{% block script %}
    {% if user.is_authenticated %}
        <script type="text/javascript">
        window.onbeforeunload = function() {
        window.setTimeout(function () {
        window.location = "{% url 'logout' %}";
    }, 0);
    window.onbeforeunload = null;
}
        </script>
    {% endif %}
{% endblock script %}

{% block content %}
{% if user.is_authenticated %}
    <h1>{{ code }}</h1>
    <form method="post" action="{% url 'logout' %}">
        {% csrf_token %}
        <button class="btn btn-primary" type="submit">Перезагрузить</button>

{% else %}
    <h1>Для отображения кода войдите в систему</h1>
        <form method="post" action="{% url 'login' %}">
            {% csrf_token %}
            <button class="btn btn-primary" type="submit">Войти</button>
{% endif %}
{% endblock content %}
